.nav-link {
    margin-left: 1em;
}

.navbar {
    --bs-navbar-brand-color: #FCF3FF;
    --bs-navbar-brand-hover-color: #FCF3FF;
    --bs-navbar-active-color: #FCF3FF;
    --bs-navbar-color: #FCF3FF;
    --bs-navbar-hover-color: #FCF3FF;
}

.navbar a {
    color: #FCF3FF;
}

body {
    color: rgb(14, 29, 0);
    background-image: url('https://images.unsplash.com/photo-1569864358642-9d1684040f43?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.container {
    background-color: #FCF3FF;
    height: 100vh;
}

#navbar_brand {
    justify-content: center;
    display: flex;
}

.text_brand {
    margin: 4px;
    color: #A4D1A5;
    text-shadow: 2px 1px black;
}

.navbar-brand {
    margin: 0;
}

.btn-primary {
    border: #913c7900;
    --bs-btn-color: #FCF3FF;
    --bs-btn-bg: #00000000;
    --bs-btn-border-color: #00000000;
    background-color: #00000000;
    --bs-btn-hover-bg: #00000000;
    --bs-btn-active-bg: #00000000;
}

.btn-close {
    --bs-btn-close-focus-shadow: #00000000;
}

.logo {
    margin: 4px;
}

.offcanvas-header {
    background-color: #913C79;
    color: #FCF3FF;
}

.offcanvas-body {
    background-color: #913C79;
    color: #FCF3FF;
}

.offcanvas-body a {
    color: #FCF3FF;
}







#connect {
    margin: 0;
}

a {
    color: #913C79;
}

footer a {
    color: #FCF3FF;
}

.horizontal_separator {
    border-bottom: 1px dashed #fcf3ff8c;
    margin-bottom: 1rem;
}

.p-2 {
    padding: 1rem !important;
}

.bg-body-tertiary {
    background-color: #913C79 !important;
}

footer {
    color: #FCF3FF;
    padding: 5%;
    background-color: #913C79;
    text-align: center;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
       justify-content: flex-end;
    }
}